<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <!--<Provider alias="media" type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
    <Parameters>
  		<add key="containerName" value="media"/>
  		<add key="rootUrl" value="https://xrmpathblob.blob.core.windows.net/"/>
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=xrmpathblob;AccountKey=gi9sxbKkDKO9d7DDgU0oK8uTThObcmH3PWzvejVYGRfvn1AiV6Qg1D4Ozv/y8NSOwEGzw8Zb9o1b+wfSQBHUbg=="/>
  		<add key="maxDays" value="365"/>
  		<add key="useDefaultRoute" value="true"/>
  		<add key="usePrivateContainer" value="false"/>
  	</Parameters>
  </Provider>-->

  <!-- Media -->
  <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
    </Parameters>
  </Provider>


</FileSystemProviders>
