@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using XrmPath.UmbracoCore.Utilities
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Web.Common;
@using Microsoft.Extensions.Logging;

@inject IPublishedValueFallback PublishedValueFallback
@*@inject IPublishedUrlProvider PublishedUrlProvider*@
@inject UmbracoHelper umbracoHelper
@inject ILogger<object> logger
@{
    var serviceUtil = new ServiceUtility(logger, umbracoHelper);
    var pUtil = serviceUtil.GetPublishedContentUtility();
    var siteSection = Model.AncestorOrSelf(2);
    var selection = siteSection?.Children?.Where(x => x.IsVisible(PublishedValueFallback)) ?? Enumerable.Empty<IPublishedContent>();
}

@foreach (var item in selection)
{
    @*<a class="nav-link nav-link--black nav-link--air-bottom @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a>*@
    <a class="nav-link nav-link--black nav-link--air-bottom @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@pUtil?.GetUrl(item)" target="@pUtil?.GetTarget(item)">@pUtil?.GetTitle(item)</a>
}