@using ClientDependency.Core.Mvc
@using XrmPath.UmbracoCore.Utilities
@using XrmPath.UmbracoCore.Helpers
@using XrmPath.UmbracoCore.Models

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var jsVersion = VersionModel.JsVersionNumber; 
    Html.RequiresJs("/Scripts/vue.min.js", 1);
    Html.RequiresJs("/Scripts/app/changepassword.js?v=" + jsVersion, 30);

}

@{
    var uniqueId = Guid.NewGuid();
    if (!MembershipHelper.UserIsAuthenticated())
    {
        Response.Redirect(string.Format("/login/?RedirectUrl={0}", Model.Content.NodeUrl()));
    }
}

@if (MembershipHelper.UserIsAuthenticated())
{

    <div id="changePasswordMacroContainer_@uniqueId">

        <form id="changePasswordForm" name="changePasswordForm">
            <input type="text" id="email" name="email" value="@HttpContext.Current.User.Identity.Name" style="display: none;" />
            <div id="changePasswordMacro" class="changePasswordMacro genericForm">
                <div class="row">
                    <div class="prompt">
                        <label for="OldPassword" class="col-form-label">Old Password:</label>
                    </div>
                    <div class="input">
                        <input id="OldPassword" name="OldPassword" type="password" v-model="OldPassword" v-on:keyup.13="changePassword" class="form-control" tabindex="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="prompt">
                        <label for="NewPassword" class="col-form-label">New Password:</label>
                    </div>
                    <div class="input">
                        <input id="NewPassword" name="NewPassword" type="password" v-model="NewPassword" v-on:keyup.13="changePassword" class="form-control" tabindex="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="prompt">
                        <label for="ConfirmPassword" class="col-form-label">Confirm Password:</label>
                    </div>
                    <div class="input">
                        <input id="ConfirmPassword" name="ConfirmPassword" type="password" v-model="ConfirmPassword" v-on:keyup.13="changePassword" class="form-control" tabindex="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="prompt empty">&nbsp;</div>
                    <div class="input">
                        <a id="changePasswordButton" class="button-primary" v-on:keyup.13="changePassword" v-on:click="changePassword" style="float: left;" tabindex="2">Update</a>
                        @Html.Partial("LoadingArea", new LoadingModel { LoadingId = "changePasswordLoading", LoadingClass = "loadingSection", Type = 0, LoadingMessage = "Updating Information", LoadingStyle = "float: left; padding-left: 10px;" })
                    </div>
                </div>
                <div class="row" v-show="Message != ''">
                    <div class="prompt empty">&nbsp;</div>
                    <div class="messageArea">
                        <div class="message" v-html="Message"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>ChangePasswordApplication.Initialize("#changePasswordMacroContainer_@uniqueId");</script>
}
else
{
    <div>You are not currently logged in. Click <a href="/login">here</a> to login.</div>
}


