@inherits UmbracoViewPage
@using XrmPath.UmbracoCore.Models
@using ClientDependency.Core.Mvc

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("SiteLayout/MetaData"); }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @{
        var jsVersion = VersionModel.JsVersionNumber;

        //styles
        Html.RequiresCss("/css/Footer-Basic.css");
        Html.RequiresCss("/css/Navigation-Clean1.css");
        Html.RequiresCss("/css/News-Cards.css");
        //Html.RequiresCss("/css/styles.css");
        Html.RequiresCss("/css/buttons.css?v=" + jsVersion);
        Html.RequiresCss("/css/macros.css?v=" + jsVersion);
        Html.RequiresCss("/css/site.css?v=" + jsVersion);


        //scripts
        Html.RequiresJs("/scripts/jquery.js", 0);
        Html.RequiresJs("/scripts/global/globalModels.js?v=" + jsVersion, 1);
        Html.RequiresJs("/scripts/global/globalFunctions.js?v=" + jsVersion, 1);
        Html.RequiresJs("/scripts/navigationMenu.js?v=" + jsVersion, 50);
        Html.RequiresJs("/scripts/jquery.validate.min.js", 50);
        Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js", 50);
    }

    @Html.RenderJsHere()
    @Html.RenderCssHere()

</head>
<body>
    <div style="margin-top:70px;"></div>
    <input type="hidden" id="contentId" value="@Model.Id" />

    @{ Html.RenderPartial("SiteLayout/MainNavigation"); }

    @RenderBody()

    @{ Html.RenderPartial("SiteLayout/Footer"); }

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="/scripts/bootstrap.js"></script>

</body>
</html>