<?xml version="1.0" encoding="utf-8"?>
<caching currentCache="DiskCache">
  <caches>
    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web" maxDays="365" memoryMaxMinutes="1" browserMaxDays="7"
      trimCache="false">
      <settings>
        <setting key="VirtualCachePath" value="~/app_data/cache"/>
      </settings>
    </cache>

    <!--
      Disk cache configuration removed for brevity.

      browserMaxDays (Added v1.2.0) separates the time to cache the image in the browser from the time to store
      the image in the cache

      folderDepth (Optional - Added v1.3.0) sets the maximum number folder levels to nest the cached images. Defaults to 6.
      trimCache (Optional - Added v1.3.0) whether to perform a cleanup of the cache when a new file is created. Defaults to true.
      memoryMaxMinutes (Optional - Added v1.4.2) how long to store a cached file reference in-memory to reduce IO. Defaults to 1 minute.
    -->
    <!--<cache name="AzureBlobCache" type="ImageProcessor.Web.Plugins.AzureBlobCache.AzureBlobCache, ImageProcessor.Web.Plugins.AzureBlobCache" maxDays="365" browserMaxDays="7" folderDepth="6" trimCache="true" memoryMaxMinutes="1">
      <settings>
        <setting key="CachedStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=xrmpathblob;AccountKey=gi9sxbKkDKO9d7DDgU0oK8uTThObcmH3PWzvejVYGRfvn1AiV6Qg1D4Ozv/y8NSOwEGzw8Zb9o1b+wfSQBHUbg=="/>
        <setting key="CachedBlobContainer" value="cache"/>
        <setting key="UseCachedContainerInUrl" value="true"/>
        <setting key="CachedCDNRoot" value="http://xrmpathblob.blob.core.windows.net/"/>
        <setting key="CachedCDNTimeout" value="2000"/>
        <setting key="SourceStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=xrmpathblob;AccountKey=gi9sxbKkDKO9d7DDgU0oK8uTThObcmH3PWzvejVYGRfvn1AiV6Qg1D4Ozv/y8NSOwEGzw8Zb9o1b+wfSQBHUbg=="/>
        <setting key="SourceBlobContainer" value="media"/>
        <setting key="StreamCachedImage" value="false"/>
      </settings>
    </cache>-->
    
  </caches>
</caching>

