<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<caching currentCache="AzureBlobCache" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <caches>
    <cache name="AzureBlobCache" type="ImageProcessor.Web.Plugins.AzureBlobCache.AzureBlobCache, ImageProcessor.Web.Plugins.AzureBlobCache" maxDays="365" browserMaxDays="7" folderDepth="6" trimCache="true" memoryMaxMinutes="1">
      <settings>
        <setting key="CachedStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=xrmpathblob;AccountKey=gi9sxbKkDKO9d7DDgU0oK8uTThObcmH3PWzvejVYGRfvn1AiV6Qg1D4Ozv/y8NSOwEGzw8Zb9o1b+wfSQBHUbg=="/>
        <setting key="CachedBlobContainer" value="cache"/>
        <setting key="UseCachedContainerInUrl" value="true"/>
        <setting key="CachedCDNRoot" value="http://xrmpathblob.blob.core.windows.net/"/>
        <setting key="CachedCDNTimeout" value="2000"/>
        <setting key="SourceStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=xrmpathblob;AccountKey=gi9sxbKkDKO9d7DDgU0oK8uTThObcmH3PWzvejVYGRfvn1AiV6Qg1D4Ozv/y8NSOwEGzw8Zb9o1b+wfSQBHUbg=="/>
        <setting key="SourceBlobContainer" value="media"/>
        <setting key="StreamCachedImage" value="false"/>
      </settings>
    </cache>
  </caches>
</caching>