@using System.Configuration
@using ClientDependency.Core.Mvc
@using XrmPath.Web.Helpers;
@using XrmPath.Web.Helpers.UmbracoHelpers
@using XrmPath.Web.Models

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var jsVersion = VersionModel.JsVersionNumber; 
    Html.RequiresJs("/Scripts/vue.min.js", 1);
    Html.RequiresJs("/Scripts/app/myaccount.js?v=" + jsVersion, 30);
}

@{
    if (!MembershipHelper.UserIsAuthenticated())
    {
        Response.Redirect(string.Format("/login/?RedirectUrl={0}", Model.Content.NodeUrl()));
    }
    var uniqueId = Guid.NewGuid();
    var changePasswordUrl = MembershipHelper.GetAuthenticationPage(UmbracoCustomLookups.ChangePasswordPage);
    var member = MembershipHelper.GetMember(User.Identity.Name);
}

@if (member != null)
{
    <div id="myAccountMacroContainer_@uniqueId">
        <form id="myAccountForm" name="myAccountForm">
            <input type="text" id="redirecturl" name="redirecturl" value="@HttpContext.Current.Request.QueryString[" RedirectUrl"]" style="display: none;" />
            <div id="myAccountMacro" class="myAccountMacro genericForm">

                <div>
                    You are currently logged in as <strong>@member.Name</strong><br /><br />
                    <a v-on:click="logout" href="javascript:void(0);" class="button-primary">Logout</a>
                    &nbsp;
                    <a href="@changePasswordUrl" class="button-primary">Change Password</a>
                    <br /><br />
                </div>
            </div>
        </form>
    </div>
    <script>MyAccountApplication.Initialize("#myAccountMacroContainer_@uniqueId");</script>

}