@using ClientDependency.Core.Mvc
@using XrmPath.UmbracoCore.Utilities
@using XrmPath.UmbracoCore.Models

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var jsVersion = VersionModel.JsVersionNumber; 

    Html.RequiresJs("/Scripts/vue.min.js", 1);
    Html.RequiresJs("/Scripts/app/forgotpassword.js?v=" + jsVersion, 30);
}

@{
    var uniqueId = Guid.NewGuid();
    var paramTemplate = Model.MacroParameters.SingleOrDefault(i => i.Key == "Template");
    var templateId = 0;
    if (paramTemplate.Value != null && !string.IsNullOrEmpty(paramTemplate.Value.ToString()))
    {
        var templateNode = PublishedContentUtility.GetNodeFromString(paramTemplate.Value.ToString());
        templateId = templateNode.Id;
        //templateId = int.Parse(paramTemplate.Value.ToString());
    }
}
@if (templateId > 0)
{
    <div id="forgotPasswordMacroContainer_@uniqueId">
        <form id="forgotPasswordForm" name="forgotPasswordForm">
            <input type="text" id="templateId" value="@templateId" style="display: none;" />
            <div id="forgotPasswordMacro" class="forgotPasswordMacro genericForm">
                <div class="row">
                    <div class="prompt">
                        <label for="ForgotEmail" class="col-form-label">Email:</label>
                    </div>
                    <div class="input">
                        <input id="ForgotEmail" name="ForgotEmail" type="text" v-model="ForgotEmail" v-on:keyup.13="sendPassword" class="form-control" tabindex="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="prompt empty">&nbsp;</div>
                    <div class="input">
                        <a id="forgotPasswordButton" class="button-primary" v-on:keyup.13="sendPassword" v-on:click="sendPassword" style="float: left;" tabindex="2">Reset</a>
                        @Html.Partial("LoadingArea", new LoadingModel { LoadingId = "forgotPasswordLoading", LoadingClass = "loadingSection", Type = 0, LoadingMessage = "Sending Information", LoadingStyle = "float: left; padding-left: 10px;" })
                    </div>
                </div>
                <div class="row" v-show="Message != ''">
                    <div class="prompt empty">&nbsp;</div>
                    <div class="messageArea">
                        <div class="message" v-html="Message"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>ForgotPasswordApplication.Initialize("#forgotPasswordMacroContainer_@uniqueId");</script>
}
else
{
    <div style="color:red">An error has occurred on this page: 'Forgot Password' is not configured.</div>
}