.loadingSection {
  display: none;
}
.loadingSection img {
  width: 25px;
}
.loadingArea .loadingContainer {
  width: 100%;
  text-align: center;
}
.loadingArea .loadingContainer .loadingSection {
  display: inline-block;
  margin-top: 30px;
  text-align: left;
}
.loadingArea .loadingContainer .loadingSection img {
  float: left;
  width: 30px;
  margin-right: 10px;
}
.loadingArea .loadingContainer .loadingSection .loadingMessage {
  font-size: 20px;
  float: left;
}
.loadingArea .loadingErrorMessage {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: red;
  font-size: 20px;
}
.loadingArea .loadingContainer,
.loadingArea .loadingErrorMessage {
  display: none;
}
.loadingArea .loadingContainer.active,
.loadingArea .loadingErrorMessage.active {
  display: inline-block;
}
.genericForm .row {
  padding: 5px;
}
.genericForm .row .requiredField {
  float: left;
  width: 15px;
  display: inline-block;
  color: red;
  margin-top: 5px;
  margin-bottom: -5px;
}
.genericForm .row .prompt {
  width: 100px;
  float: left;
  padding-top: 5px;
}
.genericForm .row .input {
  float: left;
}
.genericForm .row .input input[type=text],
.genericForm .row .input input[type=password] {
  width: 200px;
}
.genericForm .row .input textarea {
  width: 200px;
  height: 100px;
}
.genericForm .row input[type=text].error,
.genericForm .row input[type=password].error,
.genericForm .row textarea.error {
  border-color: red;
  background-color: #ffe6e6;
}
.genericForm .row .messageArea {
  float: left;
}
.genericForm .row .messageArea .message {
  color: red;
}
.genericForm .row .messageArea .message.success {
  color: green;
}