@inherits UmbracoViewPage
@using XrmPath.UmbracoCore.Utilities
@using XrmPath.UmbracoCore.Models

@{
    Layout = "SubMaster.cshtml";
}

@{
    //var mainImageUrl = Model.GetMediaCropUrl(UmbracoCustomFields.MainImage, "main");
    var mainImageUrl = "";

    var hasGrid = Model.HasProperty(UmbracoCustomFields.Grid);
}

<div class="intro">
    <h1 class="text-center">@Model.GetTitle()</h1>
    @if (Model.HasValue(UmbracoCustomFields.ArticleDate))
    {
        <p class="text-center">
            <span class="date">@Model.GetDate("MMMM d, yyyy", UmbracoCustomFields.ArticleDate)</span>
        </p>
    }
    @if (!string.IsNullOrEmpty(mainImageUrl))
    {
        <img class="img-responsive" src="@(mainImageUrl)">
    }
</div>

@if (hasGrid)
{
    <div class="text">
        @Html.GetGridHtml(Model, UmbracoCustomFields.Grid, "CSUSKGrid")
    </div>
}